{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <ul>
            <li><a href="{% url "quotedb:submit_quote" %}">Submit quote</a></li>
            <li><a href="{% url "quotedb:quotes" order="newest" %}">Newest quotes</a></li>
            <li><a href="{% url "quotedb:quotes" order="top" %}">Top quotes</a></li>
            <li><a href="{% url "quotedb:random_quote" %}">Random quote</a></li>
        </ul>
    </div>
    <div class="col-md-6">
        Tags:
        {% for tag, count in tag_cloud %}
            <a href="{{ tag.get_absolute_url }}">#{{ tag.name }} ({{ count }})</a>{% if not forloop.last %},{% endif %}
        {% endfor %}
    </div>
</div>

<h2>{{ title }}</h2>

{% if quote %}
    {% include "quotes/quote.html" with quote=quote %}
{% else %}
    {% include "quotes/list_quotes.html" with quotes=quotes %}

    <div class="pagination">
        <span class="step-links">
            <nav>
                <ul class="pager">
                    <li class="{% if not quotes.has_previous %}disabled{% endif %}"><a href="{% if quotes.has_previous %}?page={{ quotes.previous_page_number }}{% endif %}"><span aria-hidden="true">&larr;</span> Previous</a></li>
                    <li class="disabled"><a style="cursor: default">Page {{ quotes.number }} of {{ quotes.paginator.num_pages }}</a></li>
                    <li class="{% if not quotes.has_next %}disabled{% endif %}"><a href="{% if quotes.has_next %}?page={{ quotes.next_page_number }}{% endif %}">Next <span aria-hidden="true">&rarr;</span></a></li>
                </ul>
            </nav>
        </span>
    </div>
{% endif %}
{% endblock %}
