{% extends "base.html"  %}

{% block content %}
{% if quote %}
    {% include "quotes/quote.html" with quote=quote %}
{% else %}
    {% include "quotes/list_quotes.html" with quotes=quotes %}

    <div class="pagination">
        <span class="step-links">
            <nav>
                <ul class="pager">
                    <li class="{% if not quotes.has_previous %}disabled{% endif %}"><a href="{% if quotes.has_previous %}?page={{ quotes.previous_page_number }}{% endif %}"><span aria-hidden="true">&larr;</span> Previous</a></li>
                    <li class="disabled"><a style="cursor: default">Page {{ quotes.number }} of {{ quotes.paginator.num_pages }}</a></li>
                    <li class="{% if not quotes.has_next %}disabled{% endif %}"><a href="{% if quotes.has_next %}?page={{ quotes.next_page_number }}{% endif %}">Next <span aria-hidden="true">&rarr;</span></a></li>
                </ul>
            </nav>
        </span>
    </div>
{% endif %}
{% endblock %}
